{% extends "trade_dash.html" %}



<!-- Option Session -->


<div class = "Title">
    <h2>Option Session</h2>
</div>



<div>
 <form class="form" id = "Trade_From" action="{{ url_for('get_option') }}" method="post">
        <div class="form-group">
            <label >Ticker</label>
            <input type="text" class="form-control"  name="ticker" value = {{ticker}} >
            <label >Expiration</label>
            <input type="text" class="form-control"  name="exp_pos" value = {{exp_pos}} >
            <label >List Length</label>
            <input type="text" class="form-control"  name="list_len" value = 15 > 
            <br>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="pc"  value="put" checked>
              <span class="form-check-label" >
                Put
              </span>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="pc"  value="call">
              <span class="form-check-label" >
                Call
              </span>
            </div>
            
            <br>
             <div class="form-check">
              <input class="form-check-input" type="radio" name="option_bs"  value="buy" checked>
              <span class="form-check-label" >
                Buy
              </span>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="option_bs"  value="sell">
              <span class="form-check-label" >
                Sell
              </span>
                
              
                
            </div>
            
            
            <label >Strike Price</label>
            <input type="text" class="form-control"  name="strike_price" value= "{{my_price}}">
            <br>
            <button type="submit" class="btn btn-primary">Get Option Table</button>
                
 
        </div>
        
      
        
    </form>

</div>



{% if curr_option|length %}


<div>
    <h3>Current Option for Trade</h3>
    {{curr_option | safe}}
    
    
</div>

<br>

{% if option|length and not option_trade_result|length%}
<div class = "result">
<h2>Option for {{ticker}}</h2>
   
    {{option | safe}}
    
</div>

{% else %}

{% endif %}

<br>
<br>

<form id = "Trade_From" action="{{ url_for('option_trade') }}" method="post">

   <h3>Option Trade</h3>
 

    
    <div class="form-group">
            <label >Ticker</label>
            <input type="text" class="form-control"  name="ticker" value = {{ticker}} >
            <label >Expiration</label>
            <input type="text" class="form-control"  name="exp_pos" value = {{exp_pos}} >
            
            <br>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="pc"  value="put" checked>
              <span class="form-check-label" >
                Put
              </span>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="pc"  value="call">
              <span class="form-check-label" >
                Call
              </span>
            </div>
            
            <br>
             <div class="form-check">
              <input class="form-check-input" type="radio" name="option_bs"  value="buy" checked>
              <span class="form-check-label" >
                Buy
              </span>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="option_bs"  value="sell">
              <span class="form-check-label" >
                Sell
              </span>
            </div>
            
            
            <label >Strike Price</label>
            <input type="text" class="form-control"  name="trade_strike_price" value= "{{strike_price}}">
            
    
            <label >Quantity</label>
            <input type="text" class="form-control"  name="option_quantity"  >
        
        <br>
        <button type="submit" class="btn btn-primary">Trade Option!</button>
</div>
</form>
{% else %}

{% endif %}







{% if option_trade_result|length %}
<div class = "result">
<h2>Option Trade Result</h2>

<h3>Traded Option</h3>
    {{curr_option | safe}}
<br>
 
    {{option_trade_result | safe}}
    
</div>

{% else %}


{% endif %}